.search {
  border-radius: 100vh;
}

.search__bar {
  background-color: var(--light-grey);
  border: 0;
  border-radius: 100vh;
  padding: 20px;
  width: 100%;
}

.search__bar::-webkit-input-placeholder {
  color: #9fbbcc;
  font-size: 16px;
}

.search__bar::-moz-placeholder {
  color: #9fbbcc;
  font-size: 16px;
}

.search__bar::-ms-input-placeholder {
  color: #9fbbcc;
  font-size: 16px;
}

.search__bar:-ms-input-placeholder {
  color: #9fbbcc;
  font-size: 16px;
}

.search__bar::placeholder {
  color: #9fbbcc;
  font-size: 16px;
}

.search__bar:focus {
  border-color: var(--dark-blue);
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset,
    0 0 8px rgba(0, 231, 227, 0.6);
  outline: 0 none;
}
