.card {
  -webkit-box-pack: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
}

.card__image {
  width: 600px;
}

.card__image img {
  height: auto;
  width: 100%;
}

.card__header {
  background-color: var(--dark-blue);
  color: var(--neon-blue);
  font-size: 24px;
  padding-bottom: 8px;
  padding-left: 140px;
  padding-top: 32px;
}

.card__content {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card__body {
  background-color: var(--light-grey);
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: space-evenly;
  height: 100%;
  justify-content: space-evenly;
  padding-left: 40px;
}

.card__genres {
  -webkit-box-pack: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.card__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__percentage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -80px;
  position: relative;
}

.card__percentage span {
  background: var(--dark-blue);
  border: 4px solid var(--neon-blue);
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 4px var(--dark-blue);
  box-shadow: 0 0 0 4px var(--dark-blue);
  color: var(--neon-blue);
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  line-height: 72px;
  text-align: center;
  width: 72px;
}

.card__date {
  color: var(--light-dark-grey);
}

.genre {
  background-color: #fff;
  border: 2px solid var(--grey-blue);
  border-radius: 100vh;
  color: var(--grey-blue);
  font-size: 14px;
  font-weight: bold;
  padding: 4px 8px;
}

.genre + .genre {
  margin-left: 12px;
}
